<!DOCTYPE html>
<html>
    <head>
        <title>Pokedex</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Pokedex</h1>

        <div class="pokedex-button-section">
            <form method="GET" action="/">
                <button type="submit">Back to Search</button>
            </form>
        </div>

        <div class="pokedex-section">
            {% for pokemon in pokedex %}
            <a href="/search?query={{ pokemon.name }}">
                <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
            </a>
            <a href="/search?query={{ pokemon.name }}">
                <img src="{{ pokemon.shiny_sprite }}" alt="{{ pokemon.name }}">
            </a>
            {% endfor %}
        </div>

    </body>
</html>
